include MANIFEST.in
include README.txt
include mwlib/__init__.py
include mwlib/zim/__init__.py
include mwlib/zim/_version.py
include mwlib/zim/collection.py
include mwlib/zim/setmainpage.py
include mwlib/zim/siteconfig.py
include mwlib/zim/wp.css
include mwlib/zim/zimwriter.py
include setup.py
