include MANIFEST.in
include README.txt
include mwlib/__init__.py
include mwlib/zim/__init__.py
include mwlib/zim/collection.py
include mwlib/zim/config.py
include mwlib/zim/favicon.png
include mwlib/zim/siteconfig.py
include mwlib/zim/wp.css
include mwlib/zim/zimwriter.py
include setup.cfg
include setup.py
